<h1>Showing Trips details</h1>

<ul>
  <li>Assign a rating(1-5) If it dosn't already exist</li>
  <li>Passenger: <%= @trip.passenger.name %></li>
  <li>Driver: <%= @trip.driver.name %></li>
  <%= button_to "Edit", edit_trip_path(@trip),
    method: "get", class: "button"
  %>
  <%= button_to "Delete", trip_path(@trip),
    method: :delete, class: "button",
    data: {confirm: "Are you sure?"}
  %>
</ul>