<h1>Creating a New Passenger</h1>

<p>I want to see errors and validations that show that a passenger must be provided a name and a phone number, so that I cannot make a passenger without name or phone number</p>