<div class="homepage">
  <div class="container">  
    <div class="main">
      <h1>Welcome to <br>Rails Ride Share</h1>
      <h3>Connecting people to places</h3>

        <%= link_to "New Trip", new_trip_path, class: "btn-default" %>

    </div>
  </div>
</div>
