
<footer class='d-flex footer mt-auto py3 bg-dark'>
  <div class='container'>
    <ul class='nav justify-content-end'>
      <li class='nav-item'>
        <%= link_to 'Contact Us', "", class: 'nav-link text-white'%>
      </li>
      <li>
        <%= link_to 'Terms of Use', "", class: 'nav-link text-white'%>
      </li>
      <li>
        <%= link_to 'Privacy Policy', "", class: 'nav-link text-white'%>
      </li>
    <ul>
  </div>
</footer>